header {
    display: flex;
    justify-content: center;
    font-size: 3rem;
}
.container {
    border: 1px solid black;
    height: auto;
    padding: 10px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.column {
    border: 1px solid red;
    width: 25px;
    height: 25px;
    flex-grow: 0;
}

.yellow {
    background-color: yellow;
}